In [158]:
import os
from glob import glob
import dask.dataframe as dd
import pandas as pd
import dask
import dask.array as da

In [159]:
# Uncomment the following lines if you want to use the distributed scheduler
# from dask.distributed import Client
# client = Client()

In [160]:
payroll_glob = "./data/*.csv"

__Exercise__

Incrementally calculate the mean `base_salary` of all CSVs in `/payroll-small/` using `pandas`. Time the entire computation using `%%time` as the first line of the cell.

Do not use any Dask functions.

In [161]:
#!ls ./payroll-small/

In [162]:
#%%time

In [163]:
%%time
directory_path = 'data'

total_salary = 0
num_rows = 0

## Iterate over each CSV file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(directory_path, filename)
        
        ## Load csv into a DataFrame
        df1 = pd.read_csv(file_path)
        
        ## Incrementally calculate mean base_salary
        total_salary += df1['base_salary'].sum()
        num_rows += len(df1)


mean_base_salary = total_salary / num_rows

# Print the result
print("Mean Base Salary:", mean_base_salary)

Mean Base Salary: 44387.192021095216
CPU times: total: 156 ms
Wall time: 168 ms

__Exercise__

Load all the payroll CSVs using `dd.read_csv` and assign it to `payroll`. Calculate the number of partitions in the DataFrame.

In [164]:
payroll = df1

In [165]:
payroll

,fiscal_year,agency_name,agency_start_date,work_location_borough,title_description,leave_status_as_of_june_30,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay
0,2019,DEPT OF ED PARA PROFESSIONALS,2004-10-05,MANHATTAN,ANNUAL ED PARA,CEASED,41841.00,per Annum,0.00,6857.28,0.0,0.00,0.00
1,2019,DEPT OF ED PER SESSION TEACHER,1996-10-16,MANHATTAN,TEACHER- PER SESSION,CEASED,33.18,per Day,0.00,740.60,0.0,0.00,0.00
2,2019,DEPT OF ED PARA PROFESSIONALS,1999-05-25,MANHATTAN,ANNUAL ED PARA,ACTIVE,39830.00,per Annum,0.00,51968.92,0.0,11.08,0.00
3,2019,DEPT OF ED PEDAGOGICAL,1998-11-23,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,115959.00,per Annum,0.00,120026.71,0.0,0.00,0.00
4,2019,DEPT OF ED PER SESSION TEACHER,2008-06-23,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.00,1539.61,0.0,0.00,2.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29617,2019,DEPT OF PARKS & RECREATION,2018-03-30,MANHATTAN,JOB TRAINING PARTICIPANT,CEASED,15.00,per Hour,577.88,8910.10,48.0,963.90,56.16
29618,2019,POLICE DEPARTMENT,1999-02-10,BROOKLYN,SENIOR POLICE ADMINISTRATIVE AIDE,ACTIVE,54110.00,per Annum,1785.00,51432.93,1.0,30.42,6264.69
29619,2019,DEPT OF HEALTH/MENTAL HYGIENE,2018-01-16,QUEENS,NUTRITIONIST,ACTIVE,57610.00,per Annum,1825.00,57681.37,0.0,0.00,109.15
29620,2019,DEPT OF HEALTH/MENTAL HYGIENE,2018-02-26,BRONX,JR PHNURSE,ACTIVE,33.72,per Hour,1477.00,55199.61,133.0,5136.33,6749.78
29621,2019,DEPT OF HEALTH/MENTAL HYGIENE,2014-09-02,QUEENS,JR PHNURSE,ACTIVE,33.72,per Hour,1552.25,63718.94,1.0,61.41,8629.98

__Exercise__

Calculate the mean of the `payroll.base_salary` Dask DataFrame. How do the timings compare for the Dask and Pandas versions.

In [168]:
%%time
    mean_base_salary_dask = payroll.base_salary

    mean_base_salary_dask

CPU times: total: 0 ns
Wall time: 0 ns

0         41841.00
1            33.18
2         39830.00
3        115959.00
4            33.18
           ...
29617        15.00
29618     54110.00
29619     57610.00
29620        33.72
29621        33.72
Name: base_salary, Length: 29622, dtype: float64

The %%time gap betweeen the Dask DataFrame and Pandas version is enormous, Dask DataFrame is faster and shorter a lot than Pandas version

__Exercise__

Print out the task graph for the mean calculation from the previous exercise using `visualize`. Set `rankdir="LR"` to display the graph left-to-right.

__Exercise__

Add a `max` calculation on `ot_hours` to the Dask graph but do not call `compute`. Why does the graph overlap with the previous one we visualize?

In [174]:
result_max = df1['ot_hours'].max()

__Exercise__

Call `persist` on `payroll` and visualize the result. Why is the new graph different from the previous one?